body, html {
  background: url("../images/main_background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 0; }

.otdc.mt50 {
  margin-top: 50px; }

.otdc.close-modal {
  background-color: #f1f1f1 !important;
  color: #95a5a6 !important;
  transition: background-color 0.3s linear, color 0.3s linear; }
  .otdc.close-modal.modal-calendar {
    top: 0;
    right: 0;
    position: absolute; }
  .otdc.close-modal:hover {
    background-color: #dddddd !important;
    color: #222222 !important; }

.otdc.dimmer-notification {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98; }

.otdc.button-notification {
  background-color: transparent;
  color: #95a5a6;
  position: relative;
  right: 30px;
  transition: color 0.3s linear;
  z-index: 99; }
  .otdc.button-notification:hover, .otdc.button-notification:active, .otdc.button-notification:focus, .otdc.button-notification.active {
    background-color: transparent;
    color: #222222; }
  .otdc.button-notification .otdc.label-message {
    background-color: #db3236;
    border-radius: 50%;
    color: #ffffff;
    font-size: 12px;
    margin-top: -10px;
    margin-left: -20px;
    padding: 5.5px 0;
    position: absolute;
    width: 25px; }
  .otdc.button-notification .otdc.label-nomessage {
    background-color: grey;
    border-radius: 50%;
    color: #ffffff;
    font-size: 12px;
    margin-top: -10px;
    margin-left: -20px;
    padding: 5.5px 0;
    position: absolute;
    width: 25px; }

.otdc.button-back {
  color: #95a5a6;
  top: 8px;
  left: 5px;
  position: absolute;
  transition: color 0.3s linear; }
  .otdc.button-back:hover {
    color: #222222; }

.otdc.button-submit {
  background-color: transparent;
  padding: 0 !important; }
  .otdc.button-submit:hover {
    background-color: transparent; }
    .otdc.button-submit:hover .icon {
      color: #222222; }
  .otdc.button-submit .icon {
    color: #95a5a6;
    transition: color 0.3s linear !important; }

.otdc.wrapper {
  background-color: rgba(255, 255, 255, 0.6);
  padding-top: 60px !important;
  width: 100%; }

.otdc.delete {
  color: #ca1010;
  opacity: 0.8; }
  .otdc.delete:hover {
    opacity: 1; }

.otdc.edit {
  color: #1945b6;
  opacity: 0.8; }
  .otdc.edit:hover {
    opacity: 1; }

.otdc.table {
  border-color: transparent !important; }

.otdc.input-search input {
  background-color: #eeeeee;
  transition: border 0.3s linear; }
  .otdc.input-search input::placeholder {
    color: #95a5a6; }
  .otdc.input-search input:focus {
    background-color: #eeeeee;
    border: 1px solid #aaaaaa; }

.otdc.popup-notification {
  position: fixed;
  right: -400px;
  top: 80px;
  transition: right 0.3s linear;
  width: 300px;
  z-index: 100; }
  .otdc.popup-notification.active {
    right: 32px; }
  .otdc.popup-notification .segments .segment {
    color: #444444;
    border-radius: 0;
    border-color: #ffffff;
    transition: background-color 0.3s linear, color 0.3s linear; }
    .otdc.popup-notification .segments .segment:hover {
      background-color: #fafafa;
      color: #222222;
      cursor: pointer; }
    .otdc.popup-notification .segments .segment.active {
      background-color: #2185d0;
      color: #ffffff; }
      .otdc.popup-notification .segments .segment.active:hover {
        background-color: #0E6EB8; }

.otdc.login .input input {
  border-bottom: 1px solid #dddddd !important;
  transition: border-bottom-color 0.3s linear; }
  .otdc.login .input input:focus {
    border-bottom-color: #95a5a6 !important; }

.otdc.menu img {
  transition: transform 0.3s linear; }

.otdc.menu:hover img {
  transform: scale(1.1, 1.1); }

.otdc.menu:hover + .header {
  color: #222222; }

.otdc.menu + .header {
  color: #95a5a6;
  transition: color 0.3s linear; }

.otdc.add-patient {
  background-color: transparent;
  margin-top: 10px;
  transition: color 0.3s linear; }
  .otdc.add-patient:hover {
    background-color: transparent;
    color: #1945b6; }

.otdc.item-notification .ui.grid .column {
  padding-bottom: 30px;
  padding-top: 30px; }
  .otdc.item-notification .ui.grid .column.otdc.icon-notification {
    background: linear-gradient(to bottom, #69f4dd, white);
    color: #222222; }

.otdc.item-calendar {
  box-shadow: 1px 3px 2px #69f4dd; }
  .otdc.item-calendar .otdc.table-calendar {
    width: 100%; }
    .otdc.item-calendar .otdc.table-calendar tbody tr td {
      border-color: transparent;
      color: #444444;
      padding: 4px 1px;
      text-align: center; }
      .otdc.item-calendar .otdc.table-calendar tbody tr td span {
        background-color: #db3236;
        border-radius: 50%;
        height: 20px;
        margin-left: -18px;
        position: absolute;
        opacity: 0.6;
        width: 20px; }

.form-inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center; }

.none{ display:none;}
.dropdown{color: #444444;font-size:17px;}
#calender_section{ width:700px; margin:5px auto 0; padding: 0 !important;}
#calender_section h2{ background-color:#efefef; color:#444444; font-size:17px; text-align:center; line-height:40px;}
#calender_section h2 a{ color:#F58220; float:none;}
#calender_section_top{ width:100%; float:left; margin-top:20px;}
#calender_section_top ul{padding:0; list-style-type:none;}
#calender_section_top ul li{ float:left; display:block; width:99px; border-right:1px solid #fff;  text-align:center; font-size:14px; min-height:0; background:none; box-shadow:none; margin:0; padding:0;}
#calender_section_bot{ width:100%; margin-top:20px; float:left; border-left:1px solid #ccc; border-bottom:1px solid #ccc;}
#calender_section_bot ul{ margin:0; padding:0; list-style-type:none;}
#calender_section_bot ul li{ float:left; width:99px; height:80px; text-align:center; border-top:1px solid #ccc; border-right:1px solid #ccc; min-height:0; background:none; box-shadow:none; margin:0; padding:0; position:relative;}
#calender_section_bot ul li span{ margin-top:7px; float:left; margin-left:7px; text-align:center;}
#calender_section_foot{ width:100%; float:left; margin-top:20px;}

.grey{ background-color:#DDDDDD !important;}
.light_sky{ background-color:#B9FFFF !important;}

/*========== Hover Popup ===============*/
.date_cell { cursor: pointer; cursor: hand; }
.date_cell:hover { background: #DDDDDD !important; }
.date_popup_wrap {
  position: absolute;
  width: 143px;
  height: 115px;
  z-index: 9999;
  top: -115px;
  left:-55px;
  background: black transparent top left;
  color: #666 !important;
}
.events_window {
  overflow: hidden;
  overflow-y: auto;
  width: 133px;
  height: 115px;
  margin-top: 28px;
  margin-left: 25px;
}
.event_wrap {
  margin-bottom: 10px; padding-bottom: 10px;
  border-bottom: solid 1px #E4E4E7;
  font-size: 12px;
  padding: 3px;
}
.date_window {
  margin-top:20px;
  margin-bottom: 2px;
  padding: 5px;
  font-size: 16px;
  margin-left:9px;
  margin-right:14px
}
.popup_event {
  margin-bottom: 2px;
  padding: 2px;
  font-size: 16px;
  width:100%;
}
.popup_event a {color: #000000 !important;}
.packeg_box a {color: #F58220;float: right;}
.popup_event a:hover, .packeg_box a:hover {color: #181919;text-decoration: underline;}

@media only screen and (min-width:480px) and (max-width:767px) {
#calender_section{ width:336px;}
#calender_section_top ul li{ width:47px;}
#calender_section_bot ul li{ width:47px;}
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
#calender_section{ width:219px;}
#calender_section_top ul li{ width:30px; font-size:11px;}
#calender_section_bot ul li{ width:30px;}
#calender_section_bot{ width:217px;}
#calender_section_bot ul li{ height:50px;}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
#calender_section{ width:530px;}
#calender_section_top ul li{ width:74px;}
#calender_section_bot ul li{ width:74px;}
#calender_section_bot{ width:525px;}
#calender_section_bot ul li{ height:50px;}
}
